:root {
  font-size: 62.5%;
}
body {
  background-color: rgb(133, 140, 235);
}
h2 {
  text-decoration: underline;
}

.container {
  margin: auto;
  font-size: 2rem;
  width: 40%;
  background-color: white;
  padding: 3rem 1rem;
  padding-right: 0;
  /* text-align: center; */
  box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.4);
}

input,
select {
  width: 90%;
  height: 3rem;
}
select {
  height: 3.5rem;
}

.calculator-container,
h2,
p {
  margin-left: 2.5rem;
}

.btn {
  width: 91%;
  padding: 1.5rem 2.5rem;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 0.5rem;
}
#result {
  color: rgb(133, 140, 235);
}
